 :root {
      --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
      --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
      --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
      --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
      --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
      --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 300;
    }

    * {
      box-sizing: border-box;
    }

    html,
    body {
      margin: 0px;
      padding: 0px;
      width: 100vw;
      height: 100vh;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(images/background.jpg);
      ;
      background-repeat: no-repeat;
      background-position: center bottom;
      background-size: contain;
      overflow: hidden;
    }

    #app {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
    }

    main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      width: 100%;
      height: 100%;
      padding: 15px;
      margin-bottom: 50px;
      overflow: hidden;
      animation: fade 850ms ease;
    }

    h1 {
      font-weight: 300;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      background-color: rgb(48, 116, 240);
      color: white;
      cursor: pointer;
      padding: 10px 15px;
      min-width: 85px;
      border: 1px solid transparent;
      outline: 1px solid transparent;
      border-radius: 3px;
      transition: background-color 300ms ease;

      &:hover {
        background-color: rgb(61, 104, 183);
      }

      &.icon {
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
        fill: inherit;
        min-width: auto;
        padding: 5px;
        aspect-ratio: 1/1;

        &:hover {
          background-color: transparent;
        }
      }
    }

    input,
    select,
    textarea,
    .input {
      background-color: transparent;
      border: 1px solid transparent;
      border-radius: 3px;
      outline: 1px solid transparent;
      padding: 5px;
      width: 100%;
      font-size: 1.3rem;
      font-weight: 300;
      line-height: 1.3rem;

      &:is(:focus, :focus-visible) {
        background-color: beige;
        border-color: rgb(206, 206, 181);
      }
    }

    label {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 5px;
      letter-spacing: 0.05rem;
      font-weight: 300;
    }

    .input-control {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 2px;
      width: 100%;
    }

    .inputs-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      width: 100%;

      &.row {
        flex-direction: row;
        align-items: center;
      }
    }

    nav {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .listview {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      gap: 10px;
      width: 100%;
      padding-bottom: 100px;
      overflow-y: auto;

      & .listitem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 5px;
        width: 100%;
        background-color: beige;
        border-radius: 5px;
        cursor: pointer;
        padding: 5px 15px 5px 10px;
        box-shadow: var(--shadow-sm);

        &.completed {
          opacity: 0.5;
        }

        & div {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;
        }
      }
    }

    .cards-container {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      align-content: flex-start;
      gap: 10px;
      width: 100%;
      overflow-y: auto;

      & .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
        width: 30%;
        padding: 10px;
        overflow: hidden;

        & svg {
          flex: 1;
          fill: white;
        }
      }
    }

    .ripple {
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);

      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform 0.5s, opacity 1s;
      }

      &:active:after {
        transform: scale(0, 0);
        opacity: 0.3;
        transition: 0s;
      }
    }

    dialog {
      --animation-duration: 0.3s;
      background-color: white;
      max-width: 90vw;
      max-height: 70vh;
      border: none;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: var(--shadow-2xl);
      overflow: hidden;
      transition: display var(--animation-duration) allow-discrete, overlay var(--animation-duration) allow-discrete;

      &[open] {
        animation: fadein var(--animation-duration) forwards;

        &::backdrop {
          animation: showbackdrop var(--animation-duration) forwards;
        }
      }

      &:not(&[open]) {
        animation: fadeout var(--animation-duration) forwards, hidebackdrop var(--animation-duration) forwards;
      }

      &::backdrop {
        background-color: rgb(0 0 0 / 0.3);
        animation: hidebackdrop var(--animation-duration) forwards;
      }

      & :is(input, select, textarea, .input) {
        font-size: 1rem;
        line-height: 1.3rem;
        background-color: beige;

        &:is(:focus, :focus-visible) {
          border-color: rgb(206, 206, 181);
        }
      }

      & section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        min-width: 250px;
        min-height: 150px;

        & :is(header, article, footer) {
          width: 100%;
        }

        & header {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          font-size: 1.5rem;
        }

        & article {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          overflow: auto;
        }

        & footer {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          gap: 5px;
        }
      }
    }

    @keyframes fade {
      from {
        opacity: 0.5;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes fadein {
      from {
        opacity: 0.5;
        translate: 0 -10rem;
      }

      to {
        opacity: 1;
        translate: 0 -9rem;
      }
    }

    @keyframes fadeout {
      from {
        opacity: 1;
        translate: 0 -9rem;
      }

      to {
        opacity: 0.5;
        translate: 0 -10rem;
      }
    }

    @keyframes showbackdrop {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    @keyframes hidebackdrop {
      to {
        opacity: 0;
      }

    }
